body{
    background-color: aquamarine;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: auto;
}

.card {
    font-size: 0;
    margin: 25px;
    width: 130px;
    height: 130px;
    background: linear-gradient(45deg, #22AB93, #19668D);
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    user-select: none;  /* определяет может ли пользователь выбрать текст */
}

.open {
    animation: open-card 0.2s linear forwards;
}

.close {
    animation: close-card 0.2s linear;
}

@keyframes open-card {
    0% {
        font-size: 0;
        transform: rotateY(180deg);
        background: linear-gradient(-45deg, #22AB93, #19668D);
    }
    50% {
        font-size: 0;
    }
    51% {
        font-size: 75px;
    }
    100% {
        font-size: 75px;
        background: white;
    }
}

@keyframes close-card {
    0% {
        background: white;
        font-size: 75px;
    }
    50% {
        font-size: 75px;
    }
    51% {
        font-size: 0;
    }
    100% {
        background: linear-gradient(-45deg, #22AB93, #19668D);
        font-size: 0;
        transform: rotateY(180deg);
    }
}

.timer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(rgb(41, 116, 179), rgb(39, 207, 39), rgb(139, 139, 207));
}

.alert{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(139, 139, 207);
    font-weight: bold;
}

.alert__window{
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert__content{
    background-color: rgb(39, 207, 39);
    text-align: center;
    border-radius: 25px;
    padding: 10%;
}

.alert__message{
    padding-top: 30px;
    font-size: 48px;
}

.alert__button{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin: 40px 0 30px;
    border-radius: 7px;
    background: linear-gradient(to left, rgb(39, 207, 39), rgb(139, 139, 207));
}